{% extends "base.html" %}
{% load static %}


{% block title %}
    User Contact
{% endblock %}

{% block head %}
<style>
    textarea[class="w-100"]{ height:120px; }
</style>
{% endblock %}


{% block content %}
    {% if user.is_authenticated and user.is_superuser  %}
        <div class="container-fluid">
            <table class="m-auto table table-striped">
                <tr class='row bg-secondary'>
                    <th class="col-lg-1"> Subject </th>
                    <th class="col-lg-2"> Email </th>
                    <th class="col-lg-4"> Message </th>
                    <th class="col-lg-1"> Date </th>
                    <th class="col-lg-3"> response </th>
                    <th class="col-lg-1"> Vu </th>
                </tr>
                {% for user in contact_users %}
                    <tr style='cursor:pointer' class='row'>
                        <td class="col-lg-1"> <b>{{user.subject}}</b> </td>
                        <td class="col-lg-2"> {{user.email}} </td>
                        <td class="col-lg-4"> {{user.message}} </td>
                        <td class="col-lg-1"> {{user.contact_date}} </td>

                        <td class="col-lg-3"> 
                            <form action="{{ user.get_absolute_url }}" method="POST" class="w-100">
                                {% csrf_token %}
                                <textarea class="w-100" name="message"> message </textarea>
                                <button type='submit' class='w-100 btn btn-primary'> Submit </button>
                            </form>
                        </td>
                        <td class="col-lg-1"> 
                            {% if user.vu %}  
                                <i class="fa-solid fa-check fs-3 text-success"></i> 
                            {% else %} 
                                <i class="fa-solid fa-xmark fs-3 text-danger"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="d-flex justify-content-center align-items-center" style="height:calc(90vh - 90px)">
            <div class="h2 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-xmark text-danger" style='font-size:150px;'></i>
                <p>this page is for admin </p>
            </div>
        </div>
    {% endif %}
{% endblock %}