{% extends "base.html" %}
{% load static %}

{% block title %}
  shopping cart
{% endblock %}

{% block content %}
<style>
  table { border-spacing:0; border-collapse: collapse; border:0.9px solid rgba(0 0 0/80%); margin-bottom:40px;}
  tr{ border:0.9px solid rgba(0 0 0/80%); }
  table:hover { background-color: white; }
  thead>tr>th{ padding:9px; }
  .table {  margin-bottom:40px; }
  .table img { width:180px;  height:180px; object-fit:contain;}
  .text-right { text-align:right;}
  .num{text-align:center;}
</style>
<div id="content">
  <h1>Your shopping cart</h1>
  <table class="w-100 table table-hover">
    <thead class='bg-secondary text-light'>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class='ms-3'>
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      
      <tr class="total mt-2">
        <td class='p-4'><b>Total</b></td>
        <td colspan="4"></td>
        <td class="num"><b>${{ cart.get_total_price }}</b></td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "index" %}" class="btn light">Continue shopping</a>
    <a href="{% url "orders:order_create" %}" class="btn btn-primary">
      Checkout
     </a>
  </p>
</div>
{% endblock %}