{% extends 'base.html'%}
{% load static %}


{% block title %}
    Create Store
{% endblock %}


{% block content %}
<style>
    #error{ color:red; }
    ul , .helptext {display: none;}
    #form_sign_up>div>input { width: 100%; height: 40px; margin-bottom:20px}
</style>



<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height:70vh;">
        <div class='col-md-5 pb-4 pt-4 border rounded' style='box-shadow:2px 2px 8px rgba(0 0 0/20%);background-color:rgb(94 93 93 / 5%);'>
            <div id="error"></div>
            
            <form id="form_sign_up" method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                </div>
                <div>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                </div>
                <div>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                </div>
                <div>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                </div>
                <div>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="w-100 btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>


<script>
    

    document.getElementById('form_sign_up').addEventListener("submit",(event)=>{
        event.preventDefault();
        
        var username = document.getElementById("id_username").value;
        var regex = /^[a-zA-Z0-9@.+_-]{1,150}$/;
        var password = document.getElementById("id_password1").value;
        var password2 = document.getElementById("id_password2").value;

        if ( !regex.test(username) ){
            document.getElementById("error").innerHTML += `<p>Invalid username. Please enter a valid username.</p>`;
        }else if(password.length < 8) {
            document.getElementById("error").innerHTML += `<p>Your password must contain at least 8 characters.</p>`;
        }else if(/^\d+$/.test(password)) {
            document.getElementById("error").innerHTML += `<p>Your password can’t be entirely numeric.</p>`;
        }else if( password != password2 ) {
            document.getElementById("error").innerHTML += `<p>Enter the same password as before, for verification.</p>`;
        }else{
            event.target.submit();
        }
    });

</script>
{% endblock %}
