table { border-spacing:0; border-collapse: collapse; border:0.9px solid rgba(0 0 0/80%); margin-bottom:40px;}
tr{ border:0.9px solid rgba(0 0 0/80%); }
table:hover { background-color: white; }
thead>tr>th{ padding:9px; }
.table {  margin-bottom:40px; }
.table img { width:180px;  height:180px; object-fit:contain;}
.text-right { text-align:right;}
.num{text-align:center;}