body{background-color: #f5f4ef; padding-bottom:50px;}
.contact{ height:90vh; padding:55px; width:75%; box-shadow: 2px 2px 9px rgba(0 0 0/35%);}
.contact>h1{ font-weight:700; margin-top:30px; }
.contact>h6{ font-weight:600; font-size:110%; }
.line{ width:90px; background-color:#ffd3b4; height:2.5px; }
.contact_box{ 
    position:absolute; right:-9%; top:calc( 45vh - 190px ); width:340px; height:350px; 
    border-radius:5px; background-color:white;border: 0.9rem solid #ffd3b4; 
    box-shadow:2px 2px 5px rgba(0 0 0/22%); padding:9px
}
input, textarea{ 
    height:49px; border:0.9px solid rgba(0 0 0/65%); padding-left:9px;     
    margin-top:0.9rem; border-radius:5px; outline:none;
}
input[name='name'] , input[name='email']{ width: 40%; }
.textarea{ width: 60%; height:30vh; padding-top:9px; resize:none; }
.button{ position:absolute; bottom:2.5rem; right:calc(50% - 90px); background-color:#ffd3b4; }
#collection{ width:max-width; }
@media only screen and (max-width:999px){
    body{background-color:white}
    .contact{ width:100%; box-shadow:none; }
    .contact_box{ position:static; border:none; box-shadow:none; width:100%; margin-top:2rem}
    .textarea,input[name='name'] , input[name='email']{ width: 100%; }
    .button{ position:static; font-size:90%;width:100%; margin-top:9px}
}