.cart-product{width: 95%;}
.like:hover{ background-color:black; color:white }
.img{ height:380px; object-fit:cover;}
footer{ overflow-x:auto;   }

@media only screen and (max-width:1100px) {
    .list-group {  
      width:100%; display:flex; flex-direction: row; align-items:center; overflow-x:auto; margin-bottom:20px;
    }
    .list-group::-webkit-scrollbar { height: 7px; }
    .list-group::-webkit-scrollbar-track { background-color: white;border-radius: 5px;box-shadow: white; }
    .list-group::-moz-scrollbar-track { background-color: white;border-radius: 5px;box-shadow: white; }
    .list-group::-webkit-scrollbar-thumb { border-radius: 5px; background-color: gray; }
    .list-group::-moz-scrollbar-thumb { border-radius: 5px; background-color: gray; }
    .list-group-item{ width:max-width; }
    .main{ width:95%; margin:auto }
}

@media only screen and (max-width: 999px){
  section{ margin:0rem; }
  #section{ height :300px}
  footer{ margin-bottom:3.8rem;}
  .cart-product{width:98%;}
}