{% extends 'base.html' %}
{% load static %}

{% block title %} Payment Success{% endblock %}

{% block head %}
<style>
    body{ background-color:#f5f4ef; back}
    .box{ box-shadow:2px 2px 7px rgba(0 0 0/20%); background-color:white}
    .registration{ height:70vh; }
    .box_registration{ 
        padding:20px; border-radius:5px; background-color:white;
    }
</style>
{% endblock %}

{% block content %}        
<div class="container d-flex justify-content-center align-items-center registration">
    <div class='box d-flex align-items-center'>
        <img src="{% static 'img/success.jpg' %}" class='w-25'/>  
        <div class='box_registration'>
            <h2 style="color:#15a34a">Payment done.</h2>
        </div>
    </div>
</div>
{% endblock %}